.HOME-ESSENTIALS {
  background-color: #fff3e8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.HOME-ESSENTIALS .overlap-wrapper {
  background-color: #fff3e8;
  width: 1440px;
  height: 1024px;
}

.HOME-ESSENTIALS .overlap {
  position: relative;
  width: 1336px;
  height: 1007px;
  top: 17px;
  left: 90px;
}

.HOME-ESSENTIALS .group {
  position: absolute;
  width: 1336px;
  height: 945px;
  top: 62px;
  left: 0;
}

.HOME-ESSENTIALS .items {
  top: 237px;
  position: absolute;
  width: 1086px;
  height: 268px;
  left: 94px;
}

.HOME-ESSENTIALS .item {
  left: 907px;
  position: absolute;
  width: 181px;
  height: 268px;
  top: 0;
}

.HOME-ESSENTIALS .overlap-group {
  position: relative;
  width: 363px;
  height: 372px;
  top: -89px;
  left: -82px;
}

.HOME-ESSENTIALS .text-wrapper {
  width: 161px;
  height: 80px;
  top: 277px;
  left: 83px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  line-height: 29px;
  position: absolute;
  color: #482309;
  letter-spacing: 0;
}

.HOME-ESSENTIALS .img {
  position: absolute;
  width: 179px;
  height: 188px;
  top: 89px;
  left: 82px;
  object-fit: cover;
}

.HOME-ESSENTIALS .rectangle {
  position: absolute;
  width: 363px;
  height: 372px;
  top: 0;
  left: 0;
}

.HOME-ESSENTIALS .overlap-group-wrapper {
  left: 680px;
  position: absolute;
  width: 181px;
  height: 268px;
  top: 0;
}

.HOME-ESSENTIALS .div-wrapper {
  left: 453px;
  position: absolute;
  width: 181px;
  height: 268px;
  top: 0;
}

.HOME-ESSENTIALS .div {
  left: 227px;
  position: absolute;
  width: 181px;
  height: 268px;
  top: 0;
}

.HOME-ESSENTIALS .text-wrapper-2 {
  width: 161px;
  height: 80px;
  top: 277px;
  left: 82px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  line-height: 29px;
  position: absolute;
  color: #482309;
  letter-spacing: 0;
}

.HOME-ESSENTIALS .item-2 {
  left: 0;
  position: absolute;
  width: 181px;
  height: 268px;
  top: 0;
}

.HOME-ESSENTIALS .items-r {
  top: 559px;
  position: absolute;
  width: 1086px;
  height: 268px;
  left: 94px;
}

.HOME-ESSENTIALS .previous-button {
  position: absolute;
  width: 139px;
  height: 50px;
  top: 869px;
  left: 114px;
  all: unset;
  box-sizing: border-box;
}

.HOME-ESSENTIALS .overlap-2 {
  position: relative;
  width: 321px;
  height: 227px;
  top: -89px;
  left: -82px;
  background-image: url(./img/rectangle-14.svg);
  background-size: 100% 100%;
}

.HOME-ESSENTIALS .text-wrapper-3 {
  position: absolute;
  height: 29px;
  top: 99px;
  left: 98px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #482309;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29px;
  white-space: nowrap;
}

.HOME-ESSENTIALS .next-button {
  position: absolute;
  width: 131px;
  height: 50px;
  top: 859px;
  left: 1018px;
  all: unset;
  box-sizing: border-box;
}

.HOME-ESSENTIALS .overlap-3 {
  position: relative;
  width: 313px;
  height: 234px;
  top: -89px;
  left: -82px;
  background-image: url(./img/rectangle-14-1.svg);
  background-size: 100% 100%;
}

.HOME-ESSENTIALS .text-wrapper-4 {
  position: absolute;
  height: 29px;
  top: 99px;
  left: 120px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #482309;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29px;
  white-space: nowrap;
}

.HOME-ESSENTIALS .text-wrapper-5 {
  width: 236px;
  top: 103px;
  left: 93px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px transparent;
  font-family: "Inika", Helvetica;
  font-weight: 400;
  font-size: 30px;
  line-height: 73px;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  color: #482309;
  letter-spacing: 0;
}

.HOME-ESSENTIALS .nav-menu {
  position: absolute;
  width: 729px;
  height: 68px;
  top: 0;
  left: 266px;
}

.HOME-ESSENTIALS .navbar {
  position: relative;
  width: 851px;
  height: 68px;
  left: -34px;
}

.HOME-ESSENTIALS .text-wrapper-6 {
  width: 154px;
  left: -1px;
  position: absolute;
  top: -1px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px transparent;
  font-family: "Inika", Helvetica;
  font-weight: 400;
  color: #482309;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 73px;
  text-decoration: underline;
  white-space: nowrap;
}

.HOME-ESSENTIALS .text-wrapper-7 {
  width: 236px;
  left: 153px;
  position: absolute;
  top: -1px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px transparent;
  font-family: "Inika", Helvetica;
  font-weight: 400;
  color: #482309;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 73px;
  text-decoration: underline;
  white-space: nowrap;
}

.HOME-ESSENTIALS .text-wrapper-8 {
  position: absolute;
  width: 185px;
  top: -1px;
  left: 389px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px transparent;
  font-family: "Inika", Helvetica;
  font-weight: 400;
  color: #482309;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 73px;
  text-decoration: underline;
  white-space: nowrap;
}

.HOME-ESSENTIALS .text-wrapper-9 {
  position: absolute;
  width: 223px;
  top: -1px;
  left: 619px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px transparent;
  font-family: "Inika", Helvetica;
  font-weight: 400;
  color: #482309;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 73px;
  text-decoration: underline;
  white-space: nowrap;
}
