:root {
  --primary: rgba(52, 0, 105, 1);
  --text: rgba(10, 0, 21, 1);
  --light-background: rgba(239, 235, 243, 1);
  --stroke: rgba(159, 146, 172, 1);
  --secondary-color: rgba(194, 179, 210, 1);
  --sub-text: rgba(137, 133, 143, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --black-2b2b2b: rgba(43, 43, 43, 1);
}
